<div class="card mt-4">
    <h4 class="card-header">You're in CALENDAR!</h4>
    <div class="card-body">
        <div class="container-fluid">

            <hr>

            <p>
                This is a demo example forked from the <strong>ng-bootstrap</strong> project: Angular powered Bootstrap.
                Visit <a href="https://ng-bootstrap.github.io/" target="_blank">https://ng-bootstrap.github.io</a> for more
                widgets and demos.
            </p>

            <hr>
            <app-hebrew-date-picker></app-hebrew-date-picker>
            <app-hebrew-date-picker-range></app-hebrew-date-picker-range>
        </div>
    </div>
</div>
